<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.henning.gelomatica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".buscaMarcas" />
        <activity android:name=".cadastroPreco" />
        <activity android:name=".tipoKaiser" />
        <activity android:name=".tipoItaipava" />
        <activity android:name=".tipoSkol" />
        <activity
            android:name=".A"
            android:label="@string/title_activity_a"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListProdutos"
            android:label="@string/title_activity_list_produtos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListKaiserLatinhas"
            android:label="@string/title_activity_list_kaiser_latinhas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListKaiserLata"
            android:label="@string/title_activity_list_kaiser_lata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListKaiserGarrafa"
            android:label="@string/title_activity_list_kaiser_garrafa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListSkolLatinhas"
            android:label="@string/title_activity_list_skol_latinhas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListSkolLata"
            android:label="@string/title_activity_list_skol_lata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListSkolGarrafa"
            android:label="@string/title_activity_list_skol_garrafa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListItaipavaLatinhas"
            android:label="@string/title_activity_list_itaipava_latinhas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListItaipavaLata"
            android:label="@string/title_activity_list_itaipava_lata"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ListItaipavaGarrafa"
            android:label="@string/title_activity_list_itaipava_garrafa"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>